-i https://pypi.org/simple
absl-py==1.4.0 ; python_version >= '3.6'
anyio==3.7.1 ; python_version >= '3.7'
astunparse==1.6.3
beautifulsoup4==4.12.2 ; python_full_version >= '3.6.0'
cachetools==5.3.1 ; python_version >= '3.7'
certifi==2023.7.22 ; python_version >= '3.6'
charset-normalizer==3.2.0 ; python_full_version >= '3.7.0'
click==8.1.3
cmake==3.26.4
contourpy==1.1.0 ; python_version >= '3.8'
cycler==0.11.0 ; python_version >= '3.6'
distlib==0.3.6
exceptiongroup==1.1.1 ; python_version < '3.11'
fastapi==0.97.0
filelock==3.12.2 ; python_version >= '3.7'
flatbuffers==23.5.26
fonttools==4.40.0 ; python_version >= '3.8'
gast==0.5.4 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
gdown==4.7.1
gitdb==4.0.10 ; python_version >= '3.7'
gitpython==3.1.31
google-auth==2.20.0 ; python_version >= '3.6'
google-auth-oauthlib==1.0.0 ; python_version >= '3.6'
google-pasta==0.2.0
grpcio==1.58.0 ; python_version >= '3.7'
h11==0.14.0 ; python_version >= '3.7'
h5py==3.8.0 ; python_version >= '3.7'
idna==3.4 ; python_version >= '3.5'
install==1.3.5
jinja2==3.1.2 ; python_version >= '3.7'
keras==2.14.0 ; python_version >= '3.8'
keras-preprocessing==1.1.2
kiwisolver==1.4.4 ; python_version >= '3.7'
libclang==16.0.0
lit==16.0.6
markdown==3.4.4 ; python_version >= '3.7'
markupsafe==2.1.3 ; python_version >= '3.7'
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1 ; python_version >= '3.8'
numpy==1.25.0rc1
nvidia-cublas-cu11==11.10.3.66 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-cupti-cu11==11.8.87 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-nvrtc-cu11==11.7.99 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-runtime-cu11==11.8.89 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cudnn-cu11==8.9.4.19 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cufft-cu11==10.9.0.58 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-curand-cu11==10.2.10.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusolver-cu11==11.4.0.1 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusparse-cu11==11.7.5.86 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nccl-cu11==2.18.3 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nvtx-cu11==11.7.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
oauthlib==3.2.2 ; python_version >= '3.6'
opencv-python==4.7.0.72
opt-einsum==3.3.0 ; python_version >= '3.5'
packaging==23.1 ; python_version >= '3.7'
pandas==2.0.2
pillow==9.5.0
pip==23.1.2
pipenv==2023.6.12
platformdirs==3.5.3 ; python_version >= '3.7'
protobuf==4.24.3 ; python_version >= '3.5'
psutil==5.9.5
pyasn1==0.5.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pydantic==1.10.9
pyparsing==3.1.0b2 ; python_full_version >= '3.6.8'
pysocks==1.7.1
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2023.3
pyyaml==6.0
requests==2.31.0
requests-oauthlib==1.3.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
retina-face==0.0.13
rsa==4.9 ; python_version >= '3.6' and python_version < '4'
scipy==1.11.0rc1 ; python_version < '3.13' and python_version >= '3.9'
seaborn==0.12.2
setuptools==67.8.0 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.0 ; python_version >= '3.6'
sniffio==1.3.0 ; python_version >= '3.7'
soupsieve==2.4.1 ; python_version >= '3.7'
starlette==0.27.0
sympy==1.12 ; python_version >= '3.8'
tensorboard==2.14.0 ; python_version >= '3.6'
tensorboard-data-server==0.7.1 ; python_version >= '3.6'
tensorboard-plugin-wit==1.8.1
tensorflow==2.10
tensorflow-estimator==2.14.0 ; python_version >= '3.7'
tensorflow-io-gcs-filesystem==0.32.0 ; python_version < '3.12' and python_version >= '3.7'
termcolor==2.3.0 ; python_version >= '3.7'
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.65.0
triton==2.0.0.post1 ; platform_system == 'Linux' and platform_machine == 'x86_64'
typing==3.7.4.3
typing-extensions==4.6.3
tzdata==2023.3 ; python_version >= '2'
ultralytics==8.0.117
urllib3==1.26.16 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
uvicorn==0.22.0
virtualenv==20.24.3 ; python_version >= '3.7'
virtualenv-clone==0.5.7 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
werkzeug==2.3.6 ; python_version >= '3.8'
wheel==0.40.0 ; python_version >= '3.7'
wrapt==1.15.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
